@charset "UTF-8";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

@media (max-width: 1023px) {
.navbar-burger {
  width: 100px;
  right: 5vw;
}
.mini-logo {
  width: 100px;
  left: 5vw;
}

.main-container {
  width: fit-content;
  height: fit-content;
  padding-inline: 29vw;
}
}

@media (min-width: 1024px) {
.navbar {
  padding-inline: 8vw;
}
}

html {
  --color1: #ffffff;
  --color2: #87BAC7;
  --color3: #658A94;
  --color4: #314347;

  font-family: 'Courier New', Courier, monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  transition: 0.5s;
}

.fire {
  --color1: #f4e5a3; /*navbar*/
  --color2: #ec8146; /*hover*/
  --color3: #bf2121; /*body*/
  --color4: #9a1919; /*sections*/
}
.grass {
  --color1: #3DE0BD; /*navbar*/
  --color2: #3dc97c; /*hover*/
  --color3: #4c9500; /*body*/
  --color4: #3d7800; /*sections*/
}
.water {
  --color1: #8CFAF5; /*navbar*/
  --color2: #05CEF7; /*hover*/
  --color3: #0588ED; /*body*/
  --color4: #0d53b0; /*sections*/
}

.navbar {
  background-color: var(--color1)
}
a.navbar-item:hover {
  background-color: var(--color3);
  color: white;
}

.drop-hover {
  width: 200px;
  text-align: justify;
}

.bodyHome {
  height: 100vh;
  width: 100vw;
  background-image: url(../archieves/background-flat\ \(1\).jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pokedexBody {
  text-align: center;
  background: linear-gradient(to bottom, var(--color1), var(--color4));
  min-height: 100vh;
}

.report {
  color: red;
}

.navbar-item-left {
  width: 80px;
}

.main-container-index {
  text-align: center;
  position: center;
  margin-inline: auto;
  z-index: 5;
  margin-top: 8%;
}

.pokedexMain {
  display: inline-block;
  margin-top: 2%;
  padding: 15px;
  position: relative;
  font-family: 'Oxanium', cursive;
}

.pokemon__image {
  position: absolute;
  bottom: 55%;
  left: 50%;
  transform: translate(-63%, 20%);
  height: 18%;
}

.pokemon__data {
  position: absolute;
  font-weight: 600;
  color: #aaa;
  top: 54.5%;
  right: 27%;
  font-size: clamp(8px, 5vw, 25px);
}

.pokemon__name {
  color: #3a444d;
  text-transform: capitalize;
}

.form {
  position: absolute;
  width: 65%;
  top: 65%;
  left: 13.5%;
}

.input__search {
  width: 100%;
  padding: 4%;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: 600;
  color: #3a444d;
  font-size: clamp(8px, 5vw, 1rem);
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.btns {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 65%;
  transform: translate(-57%, 0);
  display: flex;
  gap: 20px;
}

.btn {
  width: 50%;
  padding: 4%;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: clamp(8px, 5vw, 1rem);
  font-weight: 600;
  color: white;
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.btn:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}

.pokedex__img {
  width: 100%;
  max-width: 425px;
}