@charset "UTF-8";

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html {
    --color1: #5EC6E0;
    --color2: #87BAC7;
    --color3: #658A94;
    --color4: #314347;
}
* {
    margin: 0;
    padding: 0;
}

.minilogo {
    width: fit-content;
}
.report {
    color: red;
}

.navbar-item-left {
    width: 80px;
    display: flex;
    justify-content: center;
}

.central-text {
    text-align: center;
    margin-bottom: 10%
}