@charset "UTF-8";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@media (max-width: 1039px) {

.navbar-burger {
    position: fixed;
    right: 7.5vw;
}
.mini-logo {
    position: fixed;
    left: 7.5vw;
}
}
/*  BREAKPOINTS AT:
    1024 > DESKTOP
    1023 ~ 785 - TABLER
    784 < MOBILE    */

html {
    --color1: #5EC6E0;
    --color2: #87BAC7;
    --color3: #658A94;
    --color4: #314347;

    font-family: 'Courier New', Courier, monospace;
}
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(../archieves/background-flat\ \(1\).jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.report {
    color: red;
}
.navbar-item-left {
    width: 80px;
}
.main-container {
    text-align: center;
    margin: 15vh 15vw 20vh;
}