* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#inputDiv {
  width: 400px;
  height: 400px;
  background-color: aquamarine;
}

/* Tema 1 */
#inputDiv[data-tema="tema1"] {
  background-color: #f50404;
}

/* Tema 2 */
#inputDiv[data-tema="tema2"] {
  background-color: #0f68ee;
}

/* Tema 3 */
#inputDiv[data-tema="tema3"] {
  background-color: #ffd9b3;
}
