* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.themeOptions {
  width: 35rem;
  max-width: 90vw;
  height: 35rem;
  max-height: 90vh;
  text-align: center;
  top: 15%;
  margin-inline: auto;
  border-radius: 0.5rem;
  overflow: hidden scroll;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}

.themeSelect {
  display: none;
}
.themeType {
  width: 50%;
}

.modalBtn {
  background-color: white;
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1rem;
  margin: 37% auto 37% auto;
}