* { box-sizing: border-box}














/* .slides {
  width: 300px;
  height: 300px;
  background: tomato;
  animation: images 4s linear 0s infinite alternate;
}

.teste {
    width: 300px;
    height: 300px;
    background-color: red;
}

@keyframes images {
  0% {
    background: url('https://fillmurray.com/300/300')
  }
  
  50% {
   background: url('http://www.placecage.com/c/300/300');
  }
  
  100% {
    background: url('https://stevensegallery.com/300/300')
  }
}
 */
